.cart-body{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    -webkit-box-shadow: 0 0 10px rgb(170, 170, 170);
        box-shadow: 0 0 10px rgb(192, 192, 192);
    margin: 50px;
    border-radius: 17px;
    padding-bottom: 35px;    
}

.cart-body .title-cart{
    width: 90%;
    margin: 10px auto;
}

.cart-image .amount-img{
    color: #fff;
    background-color: #000;
}
.cart-body .cart-container{
    width: 90%;
    border-bottom: thin solid #000;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row; 
    height: 90px; 
}
.cart-body .cart-container .cart-image{
    height: 50px;
}
.cart-content{
    display: flex;
    flex-direction: column;
    font-weight: 18px;
    margin-left: 20px;
}
.cart-body .cart-container .cart-content p{
    margin: 0px 5px;
}

.cart-body .cart-container .cart-content .cart-price{
    font-weight: 600;
    margin: 0px 5px;
    margin-bottom: 15px;
}

.cart-account{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.counter-container{
    display: flex;
    flex-direction: row;
}

.counter-container button{
    border-radius: 50%;
    background-color: blueviolet;
    color: #fff;
    font-weight: 600;
    border: none;
    height: 22px;
    width: 22px;
    text-align: center;
    cursor: pointer;
}
.cart-account .cart-total{
    font-weight: 600;
    font-size: 24px;
}


@media only screen and (max-width: 1000px) {

    .container-cards .card-body{
      margin: 20px auto;
      width: 350px;
    }
  }