body{
  display: flex;
  justify-content: center;
}
.container-cards{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.top-r-bg{
  position: absolute;
  top: 0;
  right: 0;
}
.bottom-r-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}
.top-l-bg{
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 1000px) {
  .container-cards{
    display: flex;
    flex-direction: column;
  }
  .container-cards .top-l-bg{
  display: none;
  }
  .card-body{
    margin: 20px 0px;
  }
}